#spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titreUser{
    flex: 1 1 auto;
}

.iconAddUser{
    padding-right: 10px;
    margin-top: 3px;
    font-size: 28px;
}

.close{
    height: 0 !important;
}

.addUser{    
    height: 214px;
    transition: 0.3s;
}