<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Formation IONIC 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item lines="none">
    <ion-toggle (ionChange)="onClick($event)" slot="start">Dark Mode</ion-toggle>
  </ion-item> -->
  <ion-card>
    <img src="./assets/img/b-s.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
      Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let elt of data">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{elt.icon}}">
      </ion-avatar>
      <ion-label>{{elt.title}}</ion-label>
      <ion-label>{{elt.description}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>